/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BASE*/

body {
  background-color: #2c333a;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
  color: white;
  background: #4682b4;
  font-weight: 700;

  padding: 0.8rem;
  border-radius: 0.3rem;
  border-style: none;

  transition: filter 0.3s;
  /* transition: color 0.3s; */
}

button:hover {
  cursor: pointer;
  filter: brightness(1.2);
  /* color: #4682b4;
  background: white; */
}

/*HEADER*/

header.title {
  background: #4682b4;
  color: white;
  font-size: 2rem;

  padding: 3rem 0;
}

/*CONTENT*/

.container {
  width: 70%;
  margin: 5rem auto;
  color: white;
}

.container h2 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
  gap: 3rem;
}

.content .question {
  color: #a6a6a6;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content .question p {
  font-size: 1.2rem;
  color: white;
}

/*HIDEN ANSWER*/
.result {
  background: white;
  font-size: 1.5rem;

  padding: 2rem;
}

.none-result {
  display: none;
}

.result span {
  color: #4682b4;
  font-size: 4rem;

  margin-inline: 1rem;
}

/*===== @MEDIA =====*/

@media (max-width: 620px) {
  /*HEADER*/
  header.title {
    font-size: 1.5rem;
    padding: 2rem 0;
  }

  /*CONTENT*/
  .container {
    margin-block: 3rem;
    padding-inline: 0.3rem;
  }

  .container h2 {
    font-size: 1.4rem;
  }

  .content .question {
    font-size: 0.8rem;
  }

  .content .question p {
    font-size: 1rem;
  }

  /*HIDEN ANSWER*/
  .result {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .result span {
    font-size: 2rem;
    margin-inline: 0.4rem;
  }
}

@media (max-width: 360px) {
  /*CONTENT*/
  .container {
    margin-block: 3rem;
    padding-inline: 0.3rem;
  }

  .container h2 {
    font-size: 1.2rem;
  }

  /*HIDEN ANSWER*/
  .result {
    font-size: 1.1rem;
    padding: 0.8rem;
  }

  .result span {
    font-size: 1.6rem;
    margin-inline: 0.4rem;
  }
}

@media (min-width: 2048px) {
  /*HEADER*/

  header.title {
    font-size: 4rem;
    padding: 6rem 0;
  }

  /*CONTENT*/

  .container {
    margin: 10rem auto;
  }

  .container h2 {
    font-size: 4rem;
  }

  .content .question {
    font-size: 1.6rem;
  }

  .content .question p {
    font-size: 2rem;
  }
}
